VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SEED_SUPER_OWNER_EMAIL=owner123@test.com
SEED_SUPER_OWNER_PASSWORD=
SEED_AGENCY_EMAIL=agency123@test.com
SEED_AGENCY_PASSWORD=
SEED_CLIENT_EMAIL=client123@test.com
SEED_CLIENT_PASSWORD=
